{% comment %}
  Add-ons promo card shown under the product media gallery.
  Edit the text and link here.
{% endcomment %}
<div class="scrubhat-addons-promo">
  <a href="{{ routes.all_products_collection_url }}" class="scrubhat-addons-promo__card">
    <h3>Take a look at the add-ons in our shop for buttons, satin linings and embroidery</h3>
    <img
      src="{{ 'scrubhat-hero-dog.svg' | asset_url }}"
      alt=""
      class="scrubhat-addons-promo__dog"
      width="150"
      height="192"
      loading="lazy"
      aria-hidden="true"
    >
  </a>
</div>
